/* This is all grabbed from blueprint.css to get you going.  I recommend just using that in your 
app as it will make your life easier, especially if it's a new app. Otherwise, use this as a guide
for how to get your layout looking good with this helper */

.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

/* This is all you really need if you are already using blueprint, or something 
similar, otherwise custimize the layout using the above as a template  */

.flash-text{ font-size: 1.6em;margin-left:32px;}
.flash-icon{background-repeat:no-repeat;background-position: 4px 8px;}
.success {background-image:url('/images/icons/32/success.png');}
.notice {background-image:url('/images/icons/32/notice.png');}
.error {background-image:url('/images/icons/32/error.png');}


